<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Meditech</title>
	<% include ./partials/resources/links %>
</head>
<body>
	<% include ./partials/elements/navbar %>
	<div class="container form-container">
		<% include ./partials/elements/form %>
		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
			<a class="btn-floating btn-large">
		      <i class="large material-icons">mode_edit</i>
		    </a>
		</div>
	</div>
	<% include ./partials/resources/scripts %>
</body>
</html>