 <nav>
    <div class="nav-wrapper deep-purple accent-3">
      <a href="#" style="padding-left:20px;" class="brand-logo">Meditech</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
  </nav>
        